@media only screen and (min-width: 38rem) {
    #allgames div {
        grid-template-areas: 
        "name name" 
        "photograph description"
        "photograph location"
        "button button"
      }
      #allgames div img {
        width: 300px;
      }
} /*end media query*/